h1 {
  width: 300px;
  height: 70px;
  background: #B89F91;
  border-radius: 999px;
  text-align: center;
  margin: 0 auto;
  font-size: 50px
}

body {
  background-image: url(https://images.unsplash.com/photo-1548391350-968f58dedaed?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3ODc2MDIzNzl8&ixlib=rb-4.1.0&q=85);
  background-repeat: no-repeat;
  background-size: cover;
  }
#texte {
  width: 50%;
  height: 20px;
  padding: 15px;
  font-size: 20px;
  border-radius: 12px;
  border: 1px solid #B89F91;
}
.titre-resultat {
  color: #C8ADA0;
  font-size: 20px;
}
#resultat {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #E88B8B;
}
h2 {
color: #C8ADA0;
font-size: 25px;
}
